<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <br><br><br>
            <img src="/img/{{drinks.img}}" class="card-img-top" alt="Image">
            <br><br>
            <button class="btn btn-success">Add to cart</button>
        </div>

        <div class="col-lg-9">
            <h2 class="detail-name">{{drinks.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{drinks.videoID}}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p class="detail-description">{{drinks.description}}</p>
        </div>
    </div>
</div>