<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
              <span class="section-heading-lower">Information about the shop</span>
            </h2>
            <p>Our shop has more than 20 years of experience in the coffee industry
              It was built in 2007 and has been continuously upgraded since then
              hitherto. We are constantly improving product quality with many
              Coffee beans from local to around the country to create cups
              Delicious coffee comes to you.</p>
            <p class="mb-0">We guarantee that you will fall in love with the special coffee recipe
              which we deliver from the very first drop and to the last sip.
              Create a daily routine with a cup of coffee to keep your mind alert and focused on work.
              Or simply to enjoy some alone time, friends!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>