<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Working awake? </span>
                    <span class="section-heading-lower">No wait for <br> coffee </span>
                </h2>
                <p class="mb-3">Every cup of our quality coffee is made
                    from hand-selected ingredients.
                    Try it, feel it and you will have a good morning
                    awake and full of energy
                     - We guarantee it!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="https://www.facebook.com" target="_blank">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">The promise that we</span>
                        <span class="section-heading-lower">For you</span>
                    </h2>
                    <p class="mb-0">Customer is god. So from the moment you step
                        Enter here, we are committed to providing you with a
                        great experience, elegant atmosphere, delicious coffee,
                        attentive and attentive service staff.
                        If you are not satisfied, please let us know and we
                        Will do whatever I can to fix it!</p>
                </div>
            </div>
        </div>
    </div>
</section>

